.reset-password-container {
  max-width: 400px;
  margin: auto;
}

input.invalid {
  border: 1px solid red;
}

.error {
  color: red;
  font-size: 0.85em;
  margin-bottom: 10px;
}

.success {
  color: green;
  font-weight: bold;
  margin-top: 20px;
}
